body {
    background-color: #0d0f19;
    font-family: Inter, sans-serif;
    color: #fff;
}
#mainPopup {
    padding: 10px;
    height: 150px;
    width: 300px;
}
h1 {
    font-size: 2em;
    margin-top: 0;
}
p {
    margin: 3px 0;
}
a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin-top: 7px;
}
.row {
    display: flex;
} 
.row.last {
    padding: 10px 0;
}
.col-left {
    flex: 40%;
}
.col-right {
    flex: 60%;
}
.col-right img {
    float: right;
}